@import "values"

.features
    display flex
    flex-wrap wrap
    border-radius 0.25em
    border solid 1px rgba(255, 255, 255, 0.15)
    background rgba(255, 255, 255, 0.05)
    margin 0 0 2em 0
    
    section
        display inline-block
        padding 3em
        width 50%
        border-top solid 1px rgba(255, 255, 255, 0.15)
        position relative
        
        &:nth-child(1) .icon
            transition-delay 0.15s
            
        &:nth-child(-n + 2)
            border-top-width: 0
            
        &:nth-child(2n)
            border-left solid 1px rgba(255, 255, 255, 0.15)
            
        .icon
            transition opacity 0.5s ease, transform 0.5s ease
            transition-delay: 1s
            transform scale(1)
            border-radius 50%
            opacity 1
            background-position 50% 50%
            background-size 8em
            height 5em
            width 5em
            float left
            margin-right 2em

        p
            margin 0
            font-size .8em

.icon
    text-decoration none
    border-bottom none
    position relative
    
    .major
        width 2.5em
        height 2.5em
        display block
        background #ffffff
        border-radius 100%
        color #312450
        text-align center
        line-height 2.5em
        margin 0 0 1.3em 0    
                
//- ------------------------980px------------------------
@media screen and (max-width: 980px)
    .features
        //- display block
        
        section
            border-top-width 1px !important
            border-left-width 0 !important
            width 100%
            
        &:first-child
            border-top-width 0 !important
        
//- ------------------------736px------------------------
@media screen and (max-width: 736px)
    .features
        section
            padding 2em

            
            
            .icon
                //- left 1.5em
                //- top 2em