@import "values"

.style4
  background us-bg-color
  
.image
  img
    border-radius 0.25em
    display block
    
  &.fit 
    img 
      width 100%
     

//- ------------------------1680px------------------------
// @media screen and (max-width: 1680px)
    
    
//- ------------------------980px------------------------
// @media screen and (max-width: 980px)
    
            
//- ------------------------736px------------------------
// @media screen and (max-width: 736px)
   