//-------- Colors --------
navbar-bg-color = #6a4529
navbar-color = #ffffff
navbar-hover-color = rgba(255, 255, 255, 0.55)
navbar-bef-a-en-color = #b9ae83
navbar-bef-a-dis-color = #583e2a

intro-bg-color = #af8a62
us-bg-color = #b07f63
one-bg-color = #c6895d
two-bg-color = #8b6c50
footer-bg-color = #544031

//-------- Variables --------
navbar-width = 18em
navbar-height = 3.5em