
//-------- Colors --------
navbar-bg-color = #312450
navbar-color = #ffffff
navbar-hover-color = rgba(255, 255, 255, 0.55)
navbar-bef-a-en-color = #b74e91
navbar-bef-a-dis-color = #3c2c62

intro-bg-color = #5e42a6
us-bg-color = #493382
one-bg-color = #5052b5
two-bg-color = #b74e91
footer-bg-color = #493382

//-------- Variables --------
navbar-width = 18em