doctype html
html(lang="es")
  head
    title "Loopin Records"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]>
    //- TODO: bower html5shiv script(src="")
    <![endif]-->
    link(rel="stylesheet", href="css/main.css")
    <!--[if lte IE 9]>
    //- link(rel="stylesheet", href="css/ie9.css")
    <![endif]-->
    <!--[if lte IE 8]>
    //- link(rel="stylesheet", href="css/ie8.css")
    <![endif]-->
  body
    h1 Loopin Records
    #container.col
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque egestas risus. Nulla et aliquet nulla. Vestibulum eget nulla fermentum dolor scelerisque porta non eget elit. Suspendisse potenti. Suspendisse eros ante, tristique quis arcu non, venenatis commodo sapien. Suspendisse id viverra lorem. Donec commodo purus sed erat dapibus, nec consequat nunc posuere. Vestibulum porttitor massa a nunc porttitor placerat. Fusce odio massa, interdum sed tempus iaculis, faucibus vel justo. Praesent in ante vel nisi mollis tempus vel non orci. Suspendisse nec justo dignissim, suscipit nunc vel, porttitor quam. Sed non egestas diam, a sodales eros. Mauris ac justo non nibh bibendum mattis. Fusce vel mauris ultrices, aliquet leo in, laoreet tellus. Nunc congue hendrerit leo ac consequat.
        