doctype html
html(lang="es")
  head
    title Loopin Records
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]>
    //- TODO: bower html5shiv script(src="")
    <![endif]-->
    link(rel="stylesheet", href="style.css")
    <!--[if lte IE 9]>
    //- link(rel="stylesheet", href="css/ie9.css")
    <![endif]-->
    <!--[if lte IE 8]>
    //- link(rel="stylesheet", href="css/ie8.css")
    <![endif]-->
  body
    //- Navbar
    section#navbar
      .inner
        nav
          ul
            li
              a.scrolly.active(href="#intro") ¡Hola!
            li
              a.scrolly(href="#one") Nosotros
            li
              a.scrolly(href="#two") Servicios
            li
              a.scrolly(href="#three") Equipo
            li
              a.scrolly(href="#four") ¡Contáctanos!
         
    //- Wrapper         
    #wrapper
        //- Intro
        section#intro.wrapper.style1.fullscreen.fade-up
            .inner
                h1 Loopin Records
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque egestas risus. Nulla et aliquet nulla. Vestibulum eget nulla fermentum dolor scelerisque porta non eget elit.
                
                